body {
	margin-top: 0px; 
	padding: 0; 
	background-color: #000; 
	margin: auto;
	font-family: chakraPetch; 
	color: #fff;
	margin-left: 6%;
	margin-right: 6%;
}

br {
	line-height: 20px;
}

h1 {
	font-size: 32px;
	text-align: center;
	line-height: 36px;
}

h2 {
	font-size: 28px;
	font-weight: bold;
}

p {
	font-size: 18px; 
	text-align: justify;
	line-height: 20px;
	margin-top: 4px;
	margin-bottom: 24px;
}

a{color: #fff; text-decoration: none; font-weight: normal; 	transition: 0.5s;}
a:visited {	color: #fff;}
a:focus { filter: brightness(80%);}
a:hover { filter: brightness(80%);}
a:active { filter: brightness(80%);}

@font-face {
	font-family: chakraPetch;
	src: url(ChakraPetch-Regular.ttf);
}

@font-face {
	font-family: chakraPetch;
	src: url(ChakraPetch-Bold.ttf);
	font-weight: bold;
}

.parentContainer {
	width: 100%;
	height: 100%;
}

.indexContainer {
	position: fixed;
	top: 0;
	float: left;
	width: 25%;
	padding-top: 4%;
	height: 96%;
}

.indexList {
	padding-left: 10%;
	height: 60%;
	overflow-y: auto;
	
}

.indexList button {
	background: none;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	line-height: 24px;	
	transition: 0.5s;
}

.indexList button:hover {
	filter: brightness(80%);
	font-size: 18px; 
	line-height: 24px;
}

.indexSubList {
	transition: 0.5s;
}

.indexSubList a {
	color: white; 
	text-decoration: none; 
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;	
	transition: 0.5s;
}

.indexSubList a:hover {
	filter: brightness(80%);
	font-size: 18px; 
	line-height: 24px;
}

.indexFooter {
	overflow: hidden;
	width: 100%;
	max-width: 100%;
}

.contentContainer {
	width: 70%;
	float: right;
}

.contentHeader {
	position: sticky;
	top: 0;
	padding-top: 6%;
	width: 100%;
	background-color:black; 
	height: 10%;
	overflow: auto;
	z-index: 99;
}
.contentTitle {
	width: 80%;
	height: 10%;
	float: left;
}

.siteLogo {
	float: right;
	right: 0%;
}

.siteLogo img {
	width: 36px;
}

.contentBody {
	width: 100%;
}

.contentSingleJustified {
	width: 100%;
}

.contentSingleJustified img {
	width: 100%;
}

.contentSingleSmall {
	width: 50%;
	display: block;
	margin: auto;
}

.contentSingleSmall img {
	width: 100%;
}

.contentSingleSmallCaption {
	width: 50%;
	display: block;
	margin: auto;
	margin-bottom: 16px;
}

.contentSingleSmallCaption p {
	margin-top: 0px;
	font-size: 14px;
	margin-bottom: 4px;
	text-align: left;
}

.contentSingleCaption {
	width: 100%;
	margin-bottom: 16px;
}

.contentSingleCaption p {
	margin-top: 0px;
	margin-bottom: 8px;
	text-align: left;
}

.contentDouble {
	width: 100%;
	overflow: auto;
	display: table;
	padding-bottom: 20px;
}

.contentDouble img {
	width: 100%;
}



.contentDoubleLeft {
	width: 50%;
	padding-right: 2%;
	display: table-cell;
	vertical-align: middle;
}

.contentDoubleRight {
	width: 50%;
	padding-left: 2%;
	display: table-cell;
	vertical-align: middle;
}

.mobileHeader {
	display: none;
}

.mobileIndexButton {
	display: none;
}

.mobileFooter {
	display: none;
}

/*Custom styles for random things. Messy, I know. Repeated at bottom of mobile.*/
#homepageGIF {
	max-height:500px;
	object-fit:cover;
}

#zipperCustom1 {
	width: 30%;
}

@media screen and (max-width: 801px) {
	.indexContainer {
		display: block;
		height: 100%;
		width: 0%;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0%;
		background-color:black; 
		overflow-x: hidden;
		transition: 0.3s;
		padding-top: 6%;
	}
	
	.mobileHeader {
		display: block;
		position: sticky;
		top: 0px;
		padding-top: 6%;
		padding-bottom: 4%;
		width: 100%;
		background-color:black; 
		height: 10%;
		overflow: auto;
		z-index: 99; 
		transition: 0.3s;
	}
	
	.mobileHeaderContent {
		float: left;
		transition: 0.3s;
	}
	
	.mobileHeader h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.mobileHeader button {
		background: none;
		border: none;
		color: white;
		font-size: 24px;
		cursor: pointer;
	}
	
	.mobileHeaderButton {
		float: right;
		transition: 0.3s;
	}
	
	.contentContainer {
		width: 100%; 
	}
	
	.contentHeader {
		display: none;
	}
	
	.contentSingleSmall {
		width: 100%;
	}

	.contentSingleSmallCaption {
		width: 100%;
	}
	
	.contentDoubleLeft {
		width: 100%;
		float: left;
		padding-right: 0px;
		padding-bottom: 20px;
	}
	
	.contentDoubleRight {
		width: 100%;
		float: left;
		padding-left: 0px;
	}
	

		
	.indexHeader {
		display: none;
	}
	
	.mobileIndexButton {
		display: block;
		float: left;
		width: 20%;
		text-align: center;
	}
	
	.mobileIndexButton button {
		background: none;
		border: none;
		color: white;
		font-size: 24px;
		cursor: pointer;
	}
	
	.indexList {
		float: right;
		width: 80%;
		padding-left: 0px;
		height: 100%;
	}
	.indexFooter {
		display: none;
	}
	
	.mobileFooter {
		display: block;
	}
	
	/*Custom styles for random things. Messy, I know. Mobile version!*/
	#homepageGIF {
		max-height:100%;
		object-fit:cover;
	}
	
	#zipperCustom1 {
	width: 100%;
	}
}
